<% const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "June",
    "July", "Aug", "Sept", "Oct", "Nov", "Dec"
]; %>

<% let dateStarts = monthNames[course.importantDates.courseStarts.getUTCMonth()] + ' ' + course.importantDates.courseStarts.getUTCDate() %>

<div class="dropdown">
    <div data-w-id="d2c59415-2b8b-dce1-55d6-037fa139d585" class="dropdown-trigger" style="background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('<%= course.image %>'); background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= course.image %>');">
        <div class="text-block"><%= course.name %></div>
        <div class="date"><%= dateStarts %></div>
    </div>
    <div style="height:0PX;display:block" class="dropdown-content">
        <div class="cladd-desc-wrapper">
            <div class="w-layout-grid grid_course_home">
                <div id="w-node-037fa139d58d-5b0e6e15" class="course-card">
                    <div class="rich-text-block-7 w-richtext">
                        <%- course.richText.description -%>
                    </div>
                </div>
                <div id="w-node-037fa139d59b-5b0e6e15" class="course-card">
                    <div class="w-richtext">
                        <%- course.richText.willLearn -%>
                    </div>
                </div>
                <div id="w-node-037fa139d5b0-5b0e6e15" class="course-card">
                    <div class="w-richtext">
                        <%- course.richText.timeline -%>
                    </div>
                </div>
                <div id="w-node-9ac068139c83-5b0e6e15" class="course-card dates">
                    <div class="dateblock">
                        <div class="date-phrase">Duration</div>
                        <div class="date-duration red"><%= new Date(course.importantDates.courseStarts - course.importantDates.courseEnds).getDay() - 1 %> Days</div>
                    </div>
                    <div class="dateblock">
                        <div class="date-phrase">Price before <%= monthNames[course.importantDates.discountDeadline.getUTCMonth()] + ' ' + course.importantDates.discountDeadline.getUTCDate() %></div>
                        <div class="date-duration red">$<%= course.pricing.discountPrice %> CAD</div>
                    </div>
                    <div class="dateblock">
                        <div class="date-phrase">Price after <%= monthNames[course.importantDates.discountDeadline.getUTCMonth()] + ' ' + course.importantDates.discountDeadline.getUTCDate() %></div>
                        <div class="date-duration">$<%= course.pricing.finalPrice %> CAD</div>
                    </div>
                    <% if (discount !== 'NONE') { %>
                        <div class="dateblock">
                            <div class="date-phrase">Discount</div>
                            <div class="date-duration"><%= discount %> %</div>
                        </div>
                    <% } %>
                    <div class="dateblock">
                        <div class="date-phrase">Registration deadline</div>
                        <div class="date-duration"><%= monthNames[course.importantDates.registrationDeadline.getUTCMonth()] %> <%= course.importantDates.registrationDeadline.getUTCDate()%></div>
                    </div>
                    <div class="dateblock">
                        <div class="date-phrase">Places left</div>
                        <div class="date-duration"><%= course.seats.total - course.seats.occupied %></div>
                    </div>
                </div>
                <% if(course.seats.total > course.seats.occupied) { %>
                    <a id="w-node-037fa139d5be-5b0e6e15" cDisc="<%= discount %>" cPic="<%= course.image %>" uEmail="<%= user.email %>" cID="<%= course._id %>" cPrice="<%= course.calculateCurrentPrice() %>" cName="<%= course.name%>" cStart="<%= dateStarts %>" href="#" class="cors-register-now-2 courses course-buy-button">Register now</a>
                <% } %>
            </div>
        </div>
    </div>
</div>