<div class="portal-new-video">
    <h4 class="course-name"><%= cat %></h4>
    <div class="course-videos">

        <% for(let k = 0; k < vidos.length; k++) {%>
            <% let video = vidos[k] %>

            <div class="video-card">
                <div class="wideo-wrapper">
                    <div style="padding-top:56.17021276595745%" class="w-video w-embed"><%- video.URL -%></div>
                </div>
                <div class="video-description">
                    <h3 class="video-heading"><%= video.name %></h3>
                    <div class="text-block-11"> - <%= video.description %></div>
                </div>
                <% if(user.admin) {%>
                    <a id="delete-video" href="/admin/video/<%= video._id %>">Delete</a>
                <% } %>
            </div>

        <% } %>

    </div>
</div>

<style>
    #delete-video {
        background-color: orangered;
        text-decoration: none;
        font-size: 16px;
        padding: 10px 15px 10px 15px;
        color: white;
    }
</style>